/* Scss Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap");
@font-face {
  src: url("../font/Roboto-Regular.ttf");
  font-family: "Roboto";
}
@font-face {
  src: url("../font/Roboto-Medium.ttf");
  font-family: "Roboto-500";
}
@font-face {
  src: url("../font/Averta_Full_Dafontvn.com/Averta/Averta-Regular.otf");
  font-family: "Averta";
}
@font-face {
  src: url("../font/Lato-Regular_2.ttf");
  font-family: "Lato", sans-serif;
}
.font-averta {
  font-family: "Averta";
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-arial {
  font-family: "Arial";
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-loto {
  font-family: "Noto Serif", serif;
}

.font-open {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  -webkit-transition: 0.2s, color 0.2s;
  transition: 0.2s, color 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

a {
  color: #333;
}
a:hover {
  color: #23743e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato" sans-serif;
  /* max-width: 120rem; */
}
button,
input,
textarea,
select {
  outline: none;
  line-height: normal;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.flex-center,
.search-form .search-form-btn,
.btn-icon-list .btn-icon,
.alphabet .alphabet-item,
.nav-custom .nav-pills .nav-link,
.comic-item-img .alphabet-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-text {
  display: -webkit-box;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  line-height: 1.38;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  line-height: 1.38;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-item {
  display: block;
  width: 100%;
  position: relative;
}
.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-5x4 {
  padding-bottom: 66.67%;
}
/*================================================================================================*/

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fs-44 {
  font-size: 44px;
}

.fs-56 {
  font-size: 56px;
}

.fs-80 {
  font-size: 80px;
}
/*================================================================================================*/

.bg-base,
.comic-item-img .alphabet-item {
  background-color: #f6f7fb;
}

.bg-f1 {
  background-color: #f1f9ff;
}

.bg-lightblue {
  background-color: #f1fbff;
}
.bg-blule-5f {
  background-color: #5f80cb;
}
.bg-red-d4 {
  background-color: #d46456;
}
.bg-darkgreen {
  background-color: #23743e;
}
.bg-green-4d {
  background-color: #4dd084;
}
.bg-gray-e5 {
  background-color: #e5e5e5;
}
.bg-beige-ff {
  background-color: #fffbf8;
}
/*================================================================================================*/

.w-1080 {
  max-width: 67.5rem;
}

.w-1140 {
  max-width: 71.25rem;
}

/*================================================================================================*/
.text-black {
  color: #000;
}
.text-lightgray {
  color: #bdbdbd;
}
.text-gray-22 {
  color: #222;
}
.text-dark333 {
  color: #333333;
}
.text-dark444 {
  color: #444444;
}
.text-gray-44 {
  color: #444;
}
.text-dark666 {
  color: #666666;
}
.text-gray-75 {
  color: #757575;
}
.text-gray-77 {
  color: #777;
}
.text-blue {
  color: #508ca4;
}
.text-blue-3b {
  color: #3b75f2;
}
.text-orange {
  color: #ff564f;
}

/*================================================================================================*/
.fw-600 {
  font-weight: 600;
}

/*================================================================================================*/

.line2 {
  border-bottom: 1px solid #e5e5e5;
}
/*================================================================================================*/

#header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.br-10,
.banner-index .btn,
.alphabet .alphabet-item,
.comic-item-img,
.main-product .episole .episole-button {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 5px 10px rgba(229, 229, 229, 0.5) !important;
}

.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.focus-none:focus {
  box-shadow: none;
}

.logo-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 58px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  color: #ff564f;
}
.logo-font:hover {
  color: #ff564f;
}
.header-pc {
  z-index: 3;
  background: #ffffff;
  color: #444444;
  padding: 10px 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ebe3dd !important;
}

.nav_desktop .nav_item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 8px;
}
.nav_desktop .nav_item a {
  font-family: "Averta";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.7px;
  color: #ffffff;
}
.nav_desktop .nav_item .dropdown-menu {
  padding: 0;
}
.nav_desktop .nav_item .dropdown-menu .dropdown-item {
  transition: all 0.15s ease-in-out;
  padding: 8px 30px 8px 12px;
  color: #03932a;
  font-weight: bold;
  text-shadow: none;
}
.nav_desktop .nav_item:hover a {
  color: #ffda01;
}
.nav_desktop .nav_item:hover .dropdown-menu .dropdown-item:hover {
  color: #23743e;
  background-color: #ebe3dd;
  padding-left: 17px;
  padding-right: 25px;
}
.nav_desktop .nav_item.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffda01;
}

.section-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff564f;
  border-bottom: 1px solid #fe974c;
  padding-bottom: 10px;
  padding-left: 18px;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  background: #fe974c;
  opacity: 0.7;
  border-radius: 10px;
  top: 4px;
  left: 0;
}

.grid3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px;
}

.banner {
  background: #fe974c;
  padding: 30px 0 41px;
  position: relative;
  overflow: hidden;
}
.banner::after {
  content: "";
  background-image: url("../images/img-banner.svg");
  width: 70%;
  position: absolute;
  top: 0;
  right: 30%;
}
.banner__overlay {
  position: absolute;
  transform: scale(1.4);
  right: 0;
  opacity: 0.5;
}
.banner-gradient-hide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #f6924a 30%, transparent);
  z-index: 2;
}
.banner-content_text {
  position: relative;
  z-index: 5;
}
.banner-index .desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  /* or 47px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.banner-index .btn:hover {
  color: #3b75f2;
}

.search-form {
  background: white;
  border-radius: 50px;
  border: 1px solid #e5e5e5;
  padding: 6px 6px 6px 20px;
}
.search-form .search-form-btn {
  background: #ff564f;
  border-radius: 50px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.btn-icon-list .btn-icon {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background: #f6f6f6;
  margin-left: 6px;
  color: #828282;
  font-size: 16px;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
}
.alphabet .alphabet-item {
  width: 36px;
  height: 36px;
  background: #f6f7fb;
  color: #333333;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  margin-left: 5.5px;
}
.alphabet .alphabet-item:first-child {
  margin-left: 0;
}

.search-list .search-list-item {
  padding-bottom: 10px;
}

.nav-custom {
  border-radius: 10px 10px 0 0;
}
.nav-custom .nav-pills .nav-link {
  white-space: nowrap;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px 10px 0 0;
}
.nav-custom .nav-pills .nav-link .img-icon {
  max-width: 27px;
  height: 20px;
  margin-right: 10px;
}
.nav-custom .nav-pills .nav-link .img-white {
  display: none;
}
.nav-custom .nav-pills .nav-link .img-black {
  display: block;
}
.nav-custom .nav-pills .nav-link.active {
  background-color: #fe974c;
}
.nav-custom .nav-pills .nav-link.active .img-white {
  display: block;
}
.nav-custom .nav-pills .nav-link.active .img-black {
  display: none;
}

.comic-item {
  display: flex;
  padding: 20px 0;
}
.comic-item-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.comic-item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.comic-item-img .alphabet-item {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}
.comic-item-detail {
  width: calc(100% - 40px);
  padding-left: 12px;
}
.comic-item-detail-name {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}
.comic-item-detail-type {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #666666;
}
.comic-item-detail-time {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
}
.comic-item-detail-count {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
}

.sb-search {
  position: relative;
  width: 0%;
  min-width: 50px;
  height: 50px;
  float: right;
  background: aqua;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0px;
  border: none;
  outline: none;
  background: #f6f7fb;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 10;
  padding: 20px 60px 20px 20px;
  font-family: inherit;
  font-size: 16px;
  color: #2c3e50;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
  color: #666666;
}

.sb-search-input:-moz-placeholder {
  color: #666666;
}

.sb-search-input::-moz-placeholder {
  color: #666666;
}

.sb-search-input:-ms-input-placeholder {
  color: #666666;
}

.sb-icon-search,
.sb-search-submit {
  width: 50px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  color: #21c9f6;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: black;
  background: #f6f7fb;
  z-index: 90;
  font-size: 20px;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  /* border: 1px solid black; */
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
  content: "";
}

.sb-search.sb-search-open,
.no-js .sb-search {
  width: 480%;
  border-radius: 3px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #147ec0;
  color: #ffffff;
  z-index: 11;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  /*    z-index: 90;*/
}

.sb-search-open .sb-search-input {
  border: 1px solid #666666;
}

.sidebar {
  width: 320px;
}
.sidebar-item {
  padding: 10px;
  margin-bottom: 26px;
}
.sidebar-item .comic-item {
  padding: 16px 0;
}

.article {
  width: 740px;
}

.main-product {
  width: 670px;
}
.main-product .episole .episole-button {
  padding: 5px 10px;
  background: #f6f7fb;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  border: none;
}
.main-product .episole .episole-button:first-child {
  margin-left: 0;
}
.main-product .episole .episole-button.active {
  color: #ff564f;
}
.main-product .catalogue {
  background: #fffbf8;
  padding: 22px 15px;
}
.main-product .catalogue .collapse {
  background: #fffbf8;
}

.detail-tag {
  display: flex;
  margin: 30px 0 20px 0;
}
.detail-tag .tag-title {
  padding: 10px 5px;
  display: inline-block;
  background: #f7f7f7;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  height: 35px;
  position: relative;
  margin-right: 30px;
}
.detail-tag .tag-title::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18.5px solid transparent;
  border-left: 15px solid #f7f7f7;
  border-bottom: 18.5px solid transparent;
  position: absolute;
  left: 100%;
  top: 0;
}
.detail-tag .tag-title i {
  color: #666666;
}
.detail-tag .tag-list li {
  padding: 6px 15px;
}
.detail-tag .tag-list li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
}
.detail-tag .tag-list li:hover a {
  color: #3b75f2;
}

footer {
  padding: 38px 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.footer-content {
  font-size: 13px;
  border-top: 1px solid #00000038;
  padding: 20px 0;
  margin-top: 12px;
}

.cd-auto-hide-header {
  position: sticky;
  z-index: 23;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*# sourceMappingURL=style.css.map */
.alphabet-item--bg {
  background-color: #e5e5e5 !important;
}
.news-desc {
  line-height: 28px;
}
.main-product .episole .episole-button--font15 {
  font-size: 15px;
}
.collapse-t-item {
  position: relative;
  margin-left: 20px;
}
.collapse-t-item:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 16px;
  left: -8px;
}
.detail-content figure img {
  border-radius: 8px;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}
.detail-content p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.detail-content blockquote {
  background: #fffbf8 !important;
  font-size: 17px !important;
  font-family: "Noto Serif", serif;
  line-height: 1.5 !important;
  padding: 16px !important;
  margin-bottom: 25px !important;
}
.coment-block {
  padding: 1rem;
  border: 1px solid #fff5ed;
  background-color: #fffbf8;
}
.coment-block1 {
  padding: 1rem;
  border: 1px solid #fff5ed;
  background-color: #fff;
}

.comment {
  width: 100%;
}
.cmt-avatar {
  height: 2.25rem;
  width: 2.25rem;
}
.cmt-avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.cmt-content {
  width: calc(100% - 2.25rem);
}
.cmt-content__rep,
.cmt-content__like,
.cmt-content__unlike {
  cursor: pointer;
}
.cmt-content__rep img,
.cmt-content__like img,
.cmt-content__unlike img {
  height: 0.875rem;
  width: auto;
  margin-right: 0.375rem;
}
.input-cmt {
  position: relative;
}
.cmt-field {
  width: 100%;
}
.cmt-form {
  width: calc(100% - 2.25rem);
  padding-left: 1rem;
  height: auto;
}
.form-group {
  position: relative;
  margin-bottom: 0;
}

.textarea-cmt {
  width: 100%;
  height: 40px;
  resize: none;
  border: 1px solid #dedede;
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.send-cmt {
  position: absolute;
  right: 0.625rem;
  bottom: 0.9375rem;
  cursor: pointer;
}
.textarea-cmt::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.cmt-content__list {
  background: #dedede;
  min-width: 100px;
  position: absolute;
  right: 0;
  width: max-content;
  display: none;
  opacity: 0;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  z-index: 10;
  cursor: pointer;
}
.cmt-content__list.show {
  display: block;
  opacity: 1;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
}
.cmt-content__span {
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cmt-content__span:hover {
  background-color: #fff5ed;
}
.cmt-content__span:before {
  content: "...";
  position: absolute;
  top: -8px;
}
.cmt-content__items {
  padding: 0.625rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.cmt-content__items:hover {
  background-color: #4f4f4f;
  color: #fff;
}
.tag-list-t li a.active {
  color: #3b75f2;
}
.cate-same-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
#change-page {
  position: fixed;
  bottom: 0;
  z-index: 100;
  right: 0;
  left: 0;
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  opacity: 1;
  display: block;
  transition: all 0.6s ease;
}

.scroll-fixed {
  height: 100px;
}
.scroll-fixed__left img {
  width: 20px;
  height: auto;
}
.scroll-fixed__linkfb img,
.scroll-fixed__linktwitter img {
  height: 15px;
  width: auto;
}
.scroll-fixed__prev img,
.scroll-fixed__next img {
  width: 24px;
  height: auto;
}
.scroll-fixed__linktwitter {
  margin-right: 40px;
}
.scroll-fixed__linkfb {
  margin-right: 15px;
}
.scroll-fixed__prev,
.scroll-fixed__next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  background: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 15px;
}
.scroll-fixed__prev.active,
.scroll-fixed__next.active {
  background-color: #ff564f;
}
.author-info {
  border-radius: 10px;
  padding: 1rem 1rem 1rem 4.375rem;
}
.author-avatar img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.btn {
  padding: 8px 18px;
  border: 1px solid;
  border-radius: 6px;
  background-color: #fff;
}
.btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.btn-warn {
  background-color: #f2f2f2;
}
.btn-error {
  background-color: #ff564f;
}
.border-error {
  border-color: #ff564f;
}
.border-warn {
  border-color: #e0e0e0;
}
.popup-login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #07070796;
  display: none;
  transition: 0.3s;
}
.popup-login.open {
  display: block;
  transition: 0.3s;
}
.popup-login-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
}
.popup-login__close {
  top: -20px;
  right: -20px;
  background: #fcfaf6;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.popup-login__close img {
  width: 14px;
  height: 14px;
}
.btn-fb {
  background-color: #5f80cb;
}
.btn-gg {
  background-color: #d46456;
}
.text-decoration {
  text-decoration: underline !important;
}
.text-decoration:hover {
  color: #ff564f;
}
.border-10 {
  border-radius: 0.625rem;
}
.info-block {
  border: 1px solid #eee;
}
.info-header {
  border-radius: 0.625rem 0.625rem 0 0;
}
.info-header img {
  width: 1rem;
  height: auto;
}
.info-avatar__thumb img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.form-label,
.form-label2 {
  font-size: 0.875rem;
  display: block;
  font-family: Arial;
  font-weight: 600;
  position: relative;
}
.form-label:after {
  content: "*";
  position: absolute;
  color: red;
  margin-left: 5px;
  font-size: 16px;
  top: 0;
}
.form-group-t {
  padding-top: 1.5rem;
}
.form-group-t:first-child {
  padding-top: 0;
}
.form-control-t {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 35px;
  width: 100%;
  padding: 0.3125rem 1rem;
}
.connect-fb img {
  width: 99px;
  height: auto;
}
.connect-gg {
  width: 99px;
}
.connect-gg img {
  width: 82px;
  height: auto;
}
.connect-check img {
  width: 1rem;
  height: auto;
}
.info-list__item img {
  width: 1.25rem;
  height: auto;
}
.info-avatar__thumb {
  flex-shrink: 0;
}
.info-text {
  flex: 1;
}
